body {
    background-color: #2500E0;
    font-family: 'Barlow', sans-serif;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main h1 {
    color: white;
    font-size: 10vw;
}